{% extends "base.html" %}

{% block content %}
<h2>Edit Entry</h2>

<!-- TODO: Create a form that sends a POST request -->

<form method="POST">
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <label>Runner</label><br>
    <input name="runner" value="{{ entry['runner'] }}" placeholder="Runner"><br>
    <label>School</label><br>
    <input name="school" value="{{ entry['school'] }}" placeholder="School"><br>
    <label>Grade</label><br>
    <input name="grade" value="{{ entry['grade'] }}" placeholder="Grade"><br>
    <label>Time</label><br>
    <input name="time" value="{{ entry['time'] }}" placeholder="Time"><br>
    <button type="submit">Save Changes</button>
</form>

<a href="{{ url_for('dashboard') }}">Back to Dashboard</a>

{% endblock %}