{% extends "base.html" %}

{% block content %}
<h2>Edit Entry</h2>

<!-- TODO: Create a form that sends a POST request -->

<form method="POST">

    <!-- TODO: Pre-fill title using entry data -->
    <!-- Hint: value="{{ entry['title'] }}" -->
    <input name="runner" placeholder="Runner" value="{{ entry['runner'] }}"><br>
    <input name="school" placeholder="School" value="{{ entry['school] }}"><br>
    <input name="grade" placeholder="Grade" value="{{ entry['grade'] }}"><br>
    <input name="time" placeholder="Time" value="{{ entry['time'] }}"><br>
    <button type="submit">Update Entry</button>
    <!-- TODO: Pre-fill content using entry data -->

    <!-- TODO: Add submit button -->

</form>

<!-- TODO: Add a link back to dashboard -->

{% endblock %}